<h1><%= @third %></h1>

<img src="../../cat.jpg" alt="cat">

<ul>
  <li><a href="page1">INDEX</a></li>
  <li><a href="page2">FIRST</a></li>
  <li><a href="page3">SECOND</a></li>
  <li><a href="page4">THIRD</a></li>
  <li><a href="../cows/page1">COWS?</a></li>
  <li><a href="../pigs/page1">PIGS?</a></li>
  <li><a href="../dogs/page1">DOGS?</a></li>
</ul>
