<h1><%= @first %></h1>

<ul>
  <li><a href="page1">INDEX</a></li>
  <li><a href="page2">FIRST</a></li>
  <li><a href="page3">SECOND</a></li>
  <li><a href="page4">THIRD</a></li>
  <li><a href="../cats/page1">CATS?</a></li>
  <li><a href="../pigs/page1">PIGS?</a></li>
  <li><a href="../dogs/page1">DOGS?</a></li>
</ul>
